*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box

body
	font-family: 'Open Sans', sans-serif
	font-size: 20px
	line-height: 1.5em
	overflow-x: hidden
	background: $dark

	#body
		background: $page-color

h1, h2, h3
	font-family: 'Bree Serif', serif
	font-weight: 400
	line-height: 1.2em

img
	max-width: 100%
	height: auto
	display: inline-block

a
	color: #1C94C6
	text-decoration: none

.wrapper
	padding: 1em
	max-width: 1024px
	margin: 0 auto

.clear
	clear: both

#page
	background: $page-color

	> header
		background: $bg-color

		a
			color: #fff

		.home-link
			float: left
			font-size: 1em
			padding: 3px 10px
			outline: 0

			.site-title
				font-family: Montserrat
				text-transform: uppercase
				font-weight: 400

		.mobile-menu
			display: none

		#navbar
			float: right

			ul
				margin: 0
				padding: 0

				ul
					display: none

				li
					display: inline-block
					margin: 0 0.5em 0 0

					a
						display: inline-block
						padding: 2px 8px
						font-size: 0.9em
						letter-spacing: 1px

						&:hover
							border-bottom: 1px dotted #fff

					&#login-link
						a
							border: 1px solid rgba(255,255,255,0.6)
							border-radius: 3px

							&:hover
								border: 1px solid #fff

				.children
					display: none

	>footer
		background: $dark
		clear: both

@-webkit-keyframes clouds
	100%
		background-position: -2178px 150px

@keyframes clouds
	100%
		background-position: -2178px 150px

.home
	#page
		> header
			height: 400px
			//background: $bg-color url(../img/clouds.png) repeat-x 0 150px
			//-webkit-animation: clouds 80s infinite linear
			//animation: clouds 80s infinite linear
			//animation-fill-mode: both

//page blog
.blog, .archive, .single-post
	article
		padding: 0 0 1em 0
		margin: 0 0 1em 0

		.content
			width: 75%
			float: right

		header
			.categories
				margin: 0
				font-size: 0.8em
				line-height: 1.5em
				text-transform: uppercase

			h1
				margin: 0

			.authoring
				margin: 0 0 1em 0
				font-size: 0.8em
				display: none

		footer
			float: left
			width: 25%
			padding: 0 2em 0 0

			p
				margin: 0 0 1em 0
				font-size: 0.8em
				line-height: 1.5em

.pagination
	margin: 1em 0

	.next-page
		text-align: right

	.previous-page,
	.next-page
		width: 50%
		float: left

		a
			display: inline-block
			width: 4em
			height: 4em
			line-height: 4em
			text-align: center
			border-radius: 4em
			color: #fff
			background: $bg-color

	.next-page
		float: right


.error404
	h1
		font-size: 12em
		text-align: center
		margin: 0.1em 0
		font-family: 'Open Sans', sans-serif
		color: #D7D1FC
		line-height: 0.8em

	p
		font-size: 3em
		text-transform: uppercase
		text-align: center
		color: #D7D1FC

.tag-links
	span
		display: none

	a
		background-color: #1C94C6
		border-radius: 0 2px 2px 0
		color: #fff
		display: inline-block
		font-size: 11px
		font-weight: 700
		line-height: 1.27273
		margin: 2px 4px 2px 10px
		padding: 3px 7px
		position: relative
		text-transform: uppercase

		&:before
			border-bottom: 10px solid transparent
			border-right: 9px solid #1C94C6
			border-top: 10px solid transparent
			content: ""
			height: 0
			left: -9px
			position: absolute
			top: 0
			width: 0

		&:after
			background-color: #fff
			border-radius: 50%
			content: ""
			height: 5px
			left: -3px
			position: absolute
			top: 7px
			width: 5px

		&:hover
			background-color: #000

			&:before
				border-right: 9px solid #000