.page-template-page-login-php

	label, input, p
		display: block

	p
		text-align: center
		font-size: 0.8em
		margin: 1.1em 0

		&.login-submit
			margin: 2em 0

	ul
		text-align: center
		margin: 0
		padding: 0

		li
			list-style: none
			margin-right: 1.5em
			display: inline
			font-size: 0.7em
			
			&:last-child
				margin: 0

			a:hover
				text-decoration: underline

	label
		color: #bbb
		text-align: left

	#loginform
		width: 320px
		margin: 0 auto

		input
			display: block
			width: 100%
			padding: 3px 10px
			border-radius: 3px
			border: 1px solid #bbb
			line-height: 40px
			font-size: 1.1em

		#wp-submit
			background: $bg-color
			border: 3px solid $bg-color
			color: white