@media screen and (min-width: 801px)
	#page
		> header
			#navbar
				display: block!important

@media screen and (max-width: 800px)
	//front page
	.home
		#page
			> header
				height: inherit

	#page
		> header
			.wrapper
				padding: 0

			.home-link,
			.mobile-menu
				height: 70px
				padding: 20px

			.home-link
				padding: 20px
				float: left
				display: inline-block

			.mobile-menu
				display: inline-block
				float: right
				text-align: right
				outline: 0
				background: rgba(29,29,32,0.9)
				font-family: Montserrat
				text-transform: uppercase
				font-weight: 400

			#navbar
				float: none
				display: none
				clear: both

				ul
					li
						display: block
						margin: 0
						border-bottom: 1px solid rgba(29,29,32,1)

						&:last-child
							border: none

						a
							display: block
							padding: 20px
							font-size: 0.9em
							background-color: rgba(29,29,32,0.9)

							&:hover
								border: 0
								background-color: rgba(255,255,255,0.1)

	//page blog
	.blog, .archive, .single-post
		article

			.content
				width: 100%
				float: none

			header
				.authoring
					display: block

			footer
				float: none
				width: 100%

				.authoring
					display: none